!!! 5
%html
  %head
    %title John Paredes
    %link(rel="stylesheet" href="styles.css")
  %body
    #header
      %h1 John Paredes
      %h2 Learning to Code, One Line at a Time
    #nav
      %ul
        %li Blog
        %li About
        %li Contact
    #main
      %h3.blog_title Mary had a little lamb...
      %p.date August 11, 2013
      %p ...whose fleece was white as snow.
    #footer
      &copy John Paredes 2013
